.tek {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	width: 25%;
	float: left;
	text-align: center;
	font-family: "Segoe UI Black", "Segoe UI", Arial;
	font-size: medium;
	font-weight: bold;
	color: #000;
}
.tot {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	width: 25%;
	float: left;
	background-color: #3d8eb9;
	font-family: "Segoe UI", Arial, "Times New Roman";
	font-size: medium;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}

.button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  width:15%;
  height: 5%;
  font-weight:bold;
}
